<?xml version= "1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xnlns="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocatio="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1_xsd"
id="webApp_ID" version="3.1" >
<diplay-name> Paymment Management Web Application</diplay-name>

<error-page>
<exception-type>java.lang.Exception</exception-type>
<location>Error.jsp</location>
</error-page>
</web-app>
